.mainbutton {
  padding: 45px;
  border-collapse: collapse;
  margin-top: 4px;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  border-width: 50px;
  border-color: black;
  border-style: groove;
}
body
{
 background-color: rgb(202,234,212);
}
  font-size: xx-large;

.history {
  text-align: right;
  display: inline-block;
  width: 10%;
  height: 1000%;
  background-color: whitesmoke;

}
.mainbutton
{
  text-align: center;
    color: rgb(0, 0, 0);
    border-width: 5px;
    border-color: black;
    border-style: groove;
font-size: large;
  border-width: 5px;
  border-color: black;
  border-style: groove;
 background-color: aliceblue;
 z-index: 2;
 
}
#display
{
  color:rgb(255, 255, 255);
  font-size: xxx-large;
  padding-bottom: 50px
}

div {
  margin:;
  width: 500px;
  height: 30px;
  background: rgba(0,0,4);
  position: relative;
}
img {
  margin-left:-256px;
  position: relative;
}